# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.OvenLanding.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\NET\OvenLanding\OvenLanding\.idea\.idea.OvenLanding.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
